<html>
    <head>
    <title>Change Password Page</title>
    <link rel="stylesheet" href='static/css/index.css'>
    <link rel="stylesheet" href='static/css/CACandChairStyle.css'>
    </head>
    <body id="backgroundImageIdx">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
    <div class="formcontainer">       
        <div class="container">
        <div id="wrapper">
            <h4 style="color:slategrey"><u><strong>Change Password</u></h4>
            <p> {{error}} </p>

            <div id="MyLogo" style="position:absolute; top:0; left:0;">
                <a href="/">
                    <img src= {{ url_for('static', filename='Images/mylogo.jpg') }} height="70" width="70"/>
                </a>
            </div>
            <form action="/forgetPassword" method="POST" onsubmit="return validate()">
                    <P>Password: <input type="password" placeholder="Enter new password" name="password" id="password" required></p>
                    <p>Confirm Password: <input type="password" placeholder="Confirm new password" name="cpassword" id="cpassword" required></p> 
                    <p><input type="Submit" ></p>
                <a href="/home">EXIT</a>        
        </div>            
    </div>
    </body>
</div>
</html>
