<html>
    <head>
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href='static/css/index.css'>
    <link rel="stylesheet" type="text/css" href='static/css/footer.css?=?'>
    <link rel="stylesheet" href='static/css/CACandChairStyle.css'>
    </head>
    <body id="backgroundImageIdx">
            <div class="formcontainer">
                <div class="container">
                    <div>
                        <div id="MyLogo" style="position:absolute; top:0; left:0;">
                            <a href="/">
                                <img src='static/Images/mylogo.jpg' height="70" width="70"/>
                            </a>
                        </div>      
                    </div><br><br><br><br><br>                  
                    <div id="wrapper">
                    <form action="/registerForm">
                        <input id="startAppBtn" type="submit" value="Start your application" /><br><br>
                    </form>

                    <form action="/SignInForm">
                        <input id="signInBtn" type="submit" value="Sign In" /><br>
                    </form>  

                    <form action="/registerForm">
                        <input id="createAccountBtn" type="submit" value="Create an account" />
                    </form>
            </div> 
        </div>        
        </div>       
    </body>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">HT College</a></h3>
                    <p class="links"><a href="#">University Portal</a><strong> · </strong><a href="#">APPS</a><strong> </strong></p>
                    <p class="company-name">· Huzeyfa Telha ·</p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">123 1st St NW<br></span> Washington, DC</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left">+1 123-456-7890<br></p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">htcollege@htc.edu</a></p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>DB Project Part 2 - APPS</h4>
                    <p> <strong>---- © 2021 HT College Application Processing System, Inc ----</p>
                    <div class="social-links social-icons"></div>
                </div>
            </div>
        </div>
    </footer>
</html>
