<html>
    <head>
        <title>Update your profile here!</title>
        <link rel="stylesheet" href='static/css/index.css?v=1.1.1'>
        <link rel="stylesheet" href='static/css/dropDown.css?v=1.1.1'>
        <link rel="stylesheet" href='static/css/CACandChairStyle.css'>
    </head>
    <body id="backgroundImageIdx">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
    <link rel="stylesheet" href='static/css/index.css'>
    <div class="formcontainer">
        <div class="container">
            <div id="wrapper">
            <h1><u>Update Personal Information</u></h1><hr>
            <div>
                <div id="MyLogo" style="position:absolute; top:0; left:0;">
                    <a href="/">
                        <img src='static/Images/mylogo.jpg' height="70" width="70"/>
                    </a>
                </div>      
            </div>  
            <form action="/updateUserProfile" method="POST" onsubmit="return validate()">
                <p>First Name: <input type="text" placeholder="New First Name" name="firstName" required></p>
                <p>Last Name: <input type="text" placeholder="New Last Name" name="lastName" required></p>
                <p>Email: <input type="email" placeholder="New Email" name="email" required></p>
                <p>Username: <input type="username" placeholder="New Username" name="username"></p>
            <p><input type="submit" value="Update"></p>
            <a href="/viewPersonalInfo">Return</a>
            </form>
        </div>
    </div>
    </body>
</div>
</html>
